<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="url" value="https://www.amazon.in"></parameter>
    <test name="/home/abhit/Downloads/selenium-project">
        <classes>
            <class name="tests.WithLogin"/>
            <class name="tests.WithoutLogin"/>
        </classes>
    </test>
</suite>